<footer class="bs-docs-footer">
  <div class="container">
  <ul class="list-inline">
    <li class="list-inline-item"><a class="badge-pill badge-dark" href="https://github.com/twbs/bootstrap">GitHub</a></li>
    <li class="list-inline-item"><a class="badge-pill badge-dark" href="https://twitter.com/getbootstrap">Twitter</a></li>
    <li class="list-inline-item"><a class="badge-pill badge-dark" href="#search">Examples</a></li>
    <li class="list-inline-item"><a class="badge-pill badge-dark" href="../about/">About</a></li>
  </ul>
  <p>Designed and built with all the love in the world by <a class="badge-dark" href="https://www.facebook.com/akashi.211" target="_blank">@me</a>. Maintained by the <a class="badge-dark" href="https://github.com/quyctd">Git</a> with the help of <a class="badge-dark" href="https://www.facebook.com/groups/131172937478690/">Techkids</a>.</p> <p>Code licensed
  <a class="badge-dark" href="https://github.com/twbs/bootstrap/blob/master/LICENSE" target="_blank" rel="license">MIT</a>, docs <a class="badge-dark" href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license">CC BY 3.0</a>.</p>
  </div>
</footer>
