<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HAHAHA</title>
    <link rel="stylesheet" href="styles.css">


    <link href="https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope" rel="stylesheet">


  </head>
  <body>
    <!-- <div>
      <h1>Adfgdbedghrgrfd</h1>
      <div class="">
        MODeL
      </div>
    </div>
    <div id='background' class="">
      <span>BACKGROUND</span>
      <h2>Heading lv2</h2>
    </div>
    <div> -->
<!-- sghfjdgthgehdm
    </div> -->

    <div class="">
    </div>
    <div class="">
    </div>
    <div class="">    </div>
    <div class="">    </div>

    <!-- <section id="last"></section> -->

    <section><div class="">      </div></section>
    <!-- <iframe width="640" height="360" src="https://www.youtube.com/embed/9ZPdjzOl32s" frameborder="0" gesture="media" allowfullscreen></iframe> -->
    <div id="animation"><h1> &nbsp&nbspSam Sung</h1></div>
    <!-- <div id="animation"></div>
    <div id="animation"></div>
    <div id="animation"></div> -->
  </body>
</html>
